.landing-wrapper {
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
}

.landing-header {
  text-align: center;
  margin-bottom: 40px;
}

.landing-header h2 {
  color: gray;
  font-weight: normal;
}

.landing-header h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.landing-header p {
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.landing-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.landing-search input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.search-btn {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
}

.landing-main {
  display: flex;
  gap: 30px;
}

.blog-section {
  flex: 3;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.blog-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 20px;
}

.blog-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 0 0 10px;
}

.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog-tag {
  font-size: 12px;
  text-transform: uppercase;
  color: royalblue;
  padding: 10px;
  display: inline-block;
}

.blog-card h4 {
  font-size: 1.1rem;
  padding: 0 10px;
  margin: 5px 0;
}

.blog-card p {
  padding: 0 10px;
  color: #666;
  font-size: 0.9rem;
}








